
<div class="bodyDiv">

        <header>
                <h1>
                    Triangles
                </h1>
            </header>
            <section class="login-section">
                <div class="loginComponents">
                    <h2>
                        Registeration
                    </h2>

                    <label for="">Username</label>
                    <input type="text">
                    <label for="">Password</label>
                <input type="password">
                    <button >Register</button>
                </div>
            </section>

</div>

