

<div class="bodyDiv">
    <header>
        <h1>
            Triangles
        </h1>
    </header>
    <section class="login-section">
        <div class="loginComponents">
            <h2>
                Authenticate
            </h2>

            <label for="">Username</label>
            <input type="text">
            <label for="">Password</label>
        <input type="password">
            <button >Login</button>
            <div class="">
                <a class="clearfix" href="">Sign up</a>
                <a class="clearfix" href="">Forgot password</a>
            </div>
        </div>
    </section>
  </div>
