
<div class="body">
    <DIV class="wrapper">
        <header>
            <h3>
                Username1
            </h3>
        </header>
        <div class="contentDiv">
            <div class="messagesListFlex">
            <app-messages-list [message]="message" (click)='setDetailedMessage(message)'></app-messages-list>
            <app-messages-list [message]="message" (click)='setDetailedMessage(message)'></app-messages-list>
            <app-messages-list [message]="message" ></app-messages-list>

                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
                <div class="messageBoxFlex">

                </div>
            </div>
            <div class="messagesDetailsFlex">
                <div class="messageDetailsBox">
                    <div class="leftMessage clearfix">
                        <p>
                                If i was starting from basics what would be the path that you would recommend i.e learn this from here learn that from there
                                and how to build my developer habits ?
                                Also i wanted to know how does one learn of whats going on in the industry, like what tooling is being used ie webpack, gulp etc
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>
                    <div class="leftMessage clearfix">
                        <p>
                            Hi man, What's up?
                        </p>
                    </div>
                    <div class="rightMessage clearfix">
                        <p> Hey bro, Nothing much; you tell?</p>
                    </div>


                </div>
                <div class="messageSendBox">
                    <div class="messageInput">
                        <input #inputMessage type="text">

                    </div>
                    <div class="messageButton">
                        <button (click)='sendMessage(inputMessage.value)' class="ion-ios-paperplane-outline"></button>
                    </div>
                </div>
            </div>
            <div class="conversationDetailsFlex">
                <div class="imageUserName">
                    <i class="ion-person"></i>
                    <span class="userNameX">Username X</span>
                </div>
                <h3>
                    UNDER CONSTRUCTION
                </h3>
            </div>
        </div>
    </DIV>
  </div>
